<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
        <add key="StorageRoot" value="~\Upload\" />
        <add key="xmlOutput" value="C:\xmlOutput\ASRILup.txt" />
        <add key="CreateXML" value="true" />
        <add key="CurrentReport" value="Operational" />
        <add key="ReportServerConfig" value="http://10.100.180.8/Reportserver" />
        <add key="ReportServerCredUser" value="administrator" />
        <add key="ReportServerCredPSS" value="@sr!0t12" />
        <add key="ReportServerCredSVR" value="ASR-APP11" />
        <add key="GroupID" value="1"/>
    </appSettings>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="index.php" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
	    <rewrite>
      		<rules>
        		<rule name="Handle History Mode and custom 404/500" stopProcessing="true">
            			<match url="(.*)" />
            			<conditions logicalGrouping="MatchAll">
              				<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              				<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            			</conditions>
          			<action type="Rewrite" url="index.html" />
        		</rule>
      		</rules>
    	</rewrite>
	    <httpErrors>     
          <remove statusCode="404" subStatusCode="-1" />                
          <remove statusCode="500" subStatusCode="-1" />
          <error statusCode="404" path="/survey/notfound" responseMode="ExecuteURL" />                
          <error statusCode="500" path="/survey/error" responseMode="ExecuteURL" />
      	</httpErrors>
      	<modules runAllManagedModulesForAllRequests="true"/>
    </system.webServer>
</configuration>
